<div class="sidebar col-md-4">
  <div class="widget clearfix">
    <ul class="nav nav-pills nav-stacked">
      <li><a href="<%= donors_profile_dashboard_path %>"><span class="glyphicon glyphicon-dashboard"></span> Profile</a></li>
      <li><a href="<%= cards_path %>"><span class="fa fa-pencil"></span> Cards</a></li>
      <li><a href="<%= wishlists_path %>"><span class="fa fa-ticket"></span> Wishlist</a></li>
      <li><a href="/dashboards/donors/my-non-profits"><span class="fa fa-ticket"></span> My Non Profit</a></li>
      <li><a href="/dashboards/donors/my-donations"><span class="fa fa-ticket"></span> My Donation</a></li>
      <li><a href="/sessions/logout"><span class="fa fa-sign-out"></span> Log out</a></li>
    </ul>
  </div><!-- end widget -->
</div><!-- end col -->
