footer {
  padding: 50px 0 0;
  color: #767676;
  font-family: "montserratbold", sans-serif;
  .links {
    margin-bottom: 20px;
    font-family: "montserratmedium", sans-serif;
    div:first-child {
      margin-right: 80px;
    }
    p {
      color: #484848;
    }
    li {
      margin: 5px 0;
    }
    a {
      display: block;
      color: #767676;
    }
  }
  .footer-end {
    padding: 20px 0;
    border-top: 1px solid #ddd;
    img {
      width: 25px;
      margin-right: 10px;
    }
  }
}
