
<div class="parallax first-section" data-stellar-background-ratio="0.5" style="background-image:url('/assets/gift-saves-main-background');">
    <div class="container">
        <div class="section-title text-center">
            <h1>Submit a Coupon</h1>
        </div><!-- end title -->
    </div><!-- end container -->
</div><!-- end section -->

<div class="section wb">
    <div class="container">
        <div class="row">
            <div class="sidebar col-md-10 col-md-offset-1">
                <div class="widget clearfix">
                  <div class="widget-title">
                      <h4><span>Sig-up Form</span></h4>
                  </div>
                  <!-- end widget-title -->

                  <p>Don't have an Account? Register Now.</p>

                  <hr class="invis3">
                    <form id="submit" class="contact-form newsletter">
                      <div class="row">
                          <div class="col-md-6 col-sm-12">
                              <label class="control-label">First Name</label>
                              <input type="text" class="form-control" placeholder="Jenny">
                          </div>
                          <div class="col-md-6 col-sm-12">
                              <label class="control-label">Last Name</label>
                              <input type="text" class="form-control" placeholder="Pelt">
                          </div>

                          <div class="col-md-12 col-sm-12">
                              <label class="control-label">Email</label>
                              <input type="email" class="form-control" placeholder="jennypelt@gmail.com">
                          </div>

                          <div class="col-md-6 col-sm-12">
                              <label class="control-label">Password</label>
                              <input type="password" class="form-control" placeholder="********">
                          </div>

                          <div class="col-md-6 col-sm-12">
                              <label class="control-label">Re-enter password</label>
                              <input type="password" class="form-control" placeholder="********">
                          </div>

                          <div class="col-md-12 col-sm-12">
                              <input class="btn btn-primary pull-right" type="submit" value="Register">
                          </div>
                      </div>
                    </form>
                </div><!-- end post-wrapper -->
            </div><!-- end content -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->
