.main {
  position: relative;
  padding: 0 0 200px;
  background: linear-gradient(rgba(0,0,0,.3), transparent), url("/assets/giftsaves-main-banner.png") no-repeat;
  @include background-size(cover);
  .info {
    width: 50%;
  }
  h1 {
    font: 4rem "montserratbold", sans-serif;
    text-transform: uppercase;
    color: $white;
  }
  p {
    margin-top: -10px;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: $white;
  }
  form {
    margin-top: 40px;
    .query {
      position: relative;
      input[type="submit"] {
        position: absolute;
        top: 6px;
        right: -30px;
      }
    }
  }
}
.projects {
  padding: 50px 15px;
  h2 {
    margin: 0;
    font-family: "montserratbold", sans-serif;
    color: #484848;
  }
  .items {
    margin-top: 30px;
    .item {
      width: 22%;
      img {
        width: 100%;
        @include border-radius(2px);
      }
      h3,
      p {
        margin: 0;
        color: #484848;
      }
      h3 {
        margin-top: 5px;
      }
    }
  }
}
.call-to-action {
  a {
    margin: auto;
  }
}
.banner {
  padding: 15px 20px;
  @include border-radius(2px);
  background: #1DB0EC url("/assets/banner_bg_colored.png") no-repeat;
  h2 {
    font: 3rem "montserratbold", sans-serif;
    text-transform: uppercase;
    color: $white;
  }
  span {
    color: #FFC;
  }
}
