<div class="parallax first-section" data-stellar-background-ratio="0.5" style="background-image:url('/assets/gift-saves-main-background');">
  <div class="container">
    <div class="section-title text-center">
      <h1>User Dashboard</h1>
    </div><!-- end title -->
  </div><!-- end container -->
</div><!-- end section -->
<div class="section wb">
  <div class="container">
    <div class="row">
      <!--<div class="col-md-12">
        <%# if flash[:notice] %>
          <ul class="list-group">
            <li class="list-group-item list-group-item-success"><%#= flash[:notice] %></li>
          </ul>
        <%# end %>
      </div>-->
      <%= render partial: "donors_dashboards/sidebar_menu" %>
      <div class="sidebar col-md-8">
        <div class="post-wrapper mb20 clearfix">
            <div class="widget-title">
                <h4><span>Profile</span></h4>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12" id="avatar-section">
                    <%= render partial: "users/avatar_section" %>
                </div>
            </div>
            <!-- end meta -->
        </div><!-- end widget -->
        <div class="post-wrapper mb20 clearfix">
            <div class="widget-title">
                <h4><span>Addresses</span></h4>
            </div>

            <div class="row">
              <div class="col-xs-12">
                  <div class="text-right">
                      <%= link_to "Add new", addresses_new_path, class: "btn btn-primary" %>
                  </div>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xs-12" id="addresses-section">
                <%= render partial: "addresses/addresses_list" %>
              </div>
            </div>
            <!-- end meta -->
        </div><!-- end widget -->
      </div><!-- end content -->
    </div><!-- end row -->
  </div>
</div>
