<div class="sidebar col-md-4">
  <div class="widget clearfix">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="user-dashboard.html"><span class="glyphicon glyphicon-dashboard"></span> ABOUT MY NON PROFIT</a></li>
      <li><a href="/subscriptions"><span class="fa fa-pencil"></span> RESOURCES</a></li>
      <li><a href="/my-coupons"><span class="fa fa-ticket"></span> DONORS INFORMATION</a></li>
      <li><a href="/my-non-profits"><span class="fa fa-ticket"></span> ANALYTICS</a></li>
      <li><a href="/my-donations"><span class="fa fa-ticket"></span> ACCOUNT INFORMATION</a></li>
      <li><a href="/my-donations"><span class="fa fa-ticket"></span> RECEIVED VALUES</a></li>
      <li><a href="/my-donations"><span class="fa fa-ticket"></span> INTEGRATE PAYMENT</a></li>
      <li><a href="/my-donations"><span class="fa fa-ticket"></span> SOCIAL MEDIA</a></li>
      <li><a href="/my-donations"><span class="fa fa-ticket"></span> MY NON-PROFIT</a></li>      
      <li><a href="/sessions/logout"><span class="fa fa-sign-out"></span> Log out</a></li>
    </ul>
  </div><!-- end widget -->
</div><!-- end col -->
