<div class="sidebar col-md-4">
  <div class="widget clearfix">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="user-dashboard.html"><span class="glyphicon glyphicon-dashboard"></span> Profile</a></li>
      <li><a href="/subscriptions"><span class="fa fa-pencil"></span> Payment</a></li>
      <li><a href="/my-coupons"><span class="fa fa-ticket"></span> Wishlist</a></li>
      <li><a href="/my-non-profits"><span class="fa fa-ticket"></span> My Non Profit</a></li>
      <li><a href="/my-donations"><span class="fa fa-ticket"></span> My Donation</a></li>
      <li><a href="/sessions/logout"><span class="fa fa-sign-out"></span> Log out</a></li>
    </ul>
  </div><!-- end widget -->
</div><!-- end col -->
