<div class="sidebar col-md-4">
  <div class="widget clearfix">
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="user-dashboard.html"><span class="glyphicon glyphicon-dashboard"></span>  Dashboard</a></li>
      <li><a href="/subscriptions"><span class="fa fa-pencil"></span>  My Subscriptions</a></li>
      <li><a href="/my-coupons"><span class="fa fa-ticket"></span>  My Coupons</a></li>
      <li><a href="/sessions/logout"><span class="fa fa-sign-out"></span>  Logout</a></li>
    </ul>
  </div><!-- end widget -->
</div><!-- end col -->
