$white: #fff;
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin background-size($cover) {
  -webkit-background-size: $cover;
  -moz-background-size: $cover;
  -ms-background-size: $cover;
  background-size: $cover;
}
